.DS_Store
.vscode
.idea
*.pyc
__pycache__
.mypy_cache
.pytest_cache
*.egg-info
venv
build
dist
docs/_build
docs/_static
docs/_templates
htmlcov
.coverage
node_modules
package-lock.json
yarn.lock
yarn-error.log
/site
/.venv
/.env
/venv
/env
/.direnv
/.envrc
!/.envrc.template
!/.envrc.template.example
